#title {
    font-size: 2em;
}

.main {
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
}

.latLong{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.5s ease;

    display: inline-block;
    margin-bottom: 5em;
}

.latLong:hover {
    background-color: grey;
    padding: 20px;
    margin-top: 100px;
    -webkit-filter: blur(5px);
}

.latLong:hover h2 {
    color: white;
    font-size: 3em;
    text-decoration: underline;
    transition: font-size 0.5s ease;
    transition: letter-spacing 0.5s ease;

    letter-spacing: -2px;
}

.coord-img{
    display: none;
    z-index: 1;
}

.latLong.clicked {
    background-color: black;
    padding-top: 100%;
    padding-right: 950px;

    margin-top: 10px;
    margin-bottom: 0em;
    display: flex;
}

.latLong.clicked h2 {
    color: white;
    font-size: 0.6em; /* Adjust font size as needed */
    transition: all 0.5s ease-in-out;
    margin-bottom: 1em;
    margin-left: 1em;
    
    letter-spacing: -4px;
    font-weight: lighter;
}

.sticky {
    position: fixed;
    top: 0;
    margin-left: 320px;

    width: 200px;

    font-size: 20px;
    z-index: 5;
    line-height: 1;
}

.sub {
    font-weight: 400;
}


.text {
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.inLinks {
    color: white;
}

.inLinks:visited {
    color: white;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: 4px;
    font-family: "peridot-pe-variable", sans-serif;
}

#references p {
    font-size: 10px;
    margin-right: 60px;
    color: black;

    font-size: 14px;
    line-height: 1.2em;
}

/* Image styling */
.img1 {
    max-width: 950px;
    height: 100%;
}

.img2 {
    max-width: 950px;
    max-height: 100%;
    margin-bottom: 50%;
}

.image:hover {
    -webkit-filter: blur(5px);
}

/* Metadata Styling */
.metadata {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0px;
    max-height: 75vh; /* Adjust based on your needs */
    overflow: auto;
}

.metadata p{
    display: none;

}

.metadata p.visible {
    display: block; /* Show when .latLong is clicked */
}

/* Timeline Styling */

.side {
    font-family: 'Inter', sans-serif;

    font-size: 20px;
    letter-spacing: -1px;
    display: inline-block;
    margin-left: 5em;
    color:red;

}

.tick {
    background: red;
    padding-top: 2px;
    margin-bottom: 19em;
}

.tickText {
    font-size: 10px;
    
}

/* Misc Styling */

.recentlyClickedLatLong {
    border: 6px solid yellow; 
}

.recentlyClickedpID {
    border: 6px solid yellow; 
}

#mapid {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 750px; 
    height: 900px; 
    z-index: -1; 
    filter: grayscale(100%) blur(3px);
}