#title {
    font-size: 2em;
}

.main {
    font-family: 'Inter', sans-serif;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    width: 30%; 
}

.latLong{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: all 0.5s ease;

    display: inline-block;
    margin-bottom: 5em;

    background-color: white;
    padding: 10px;
}

.latLong:hover {
    background-color: grey;
    padding: 20px;
    margin-bottom: 12rem;

    filter: blur(0px) !important;
    transition: background-color 1s ease
}

.latLong:hover h2 {
    color: white;
    font-size: 3em;
    text-decoration: underline;
    transition: font-size 0.5s ease;
    transition: letter-spacing 0.5s ease;

    letter-spacing: -2px;
}

.coord-img{
    display: none;
    z-index: 1;
}

.latLong.clicked {
    background-color: black;
    padding-top: 90vh;
    padding-right: 950px;

    margin-top: 10px;
    margin-bottom: 5em;
    display: flex;

    transition: all 0.5s ease;
}

.latLong.clicked h2 {
    color: white;
    font-size: 0.6em; /* Adjust font size as needed */
    transition: all 0.5s ease;
    margin-bottom: 1em;
    margin-left: 1em;
    
    letter-spacing: -1px;
    font-weight: lighter;
}

.sticky {
    position: fixed;
    top: 0;
    margin-left: 320px;

    width: 200px;

    font-size: 20px;
    z-index: 5;
    line-height: 1;
}

.sub {
    font-weight: 400;
}


.text {
    font-family: 'Inter', sans-serif;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.inLinks {
    color: white;
}

.inLinks:visited {
    color: white;
}

.inLinks:hover {
    color: red;
    background-color: white;
    padding: 2px;
}

a:visited {
    color: white;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;

    letter-spacing: 4px;
    font-family: "peridot-pe-variable", sans-serif;
}

#references p {
    font-size: 10px;
    margin-right: 60px;
    color: black;

    font-size: 14px;
    line-height: 1.2em;
}

/* Image styling */
/*
.img1 {
    max-width: 950px;
    height: 100%;
}

.img2 {
    max-width: 950px;
    max-height: 100%;
    margin-bottom: 50%;
}
*/

/* Metadata Styling */
.metadata {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 0px;
    max-height: 75vh; /* Adjust based on your needs */
    overflow: auto;
}

.metadata div{
    display: none;

}

.metadata div.visible {
    display: block; /* Show when .latLong is clicked */
}

/* Timeline Styling */

.side {
    font-family: 'Inter', sans-serif;

    font-size: 20px;
    letter-spacing: -1px;
    display: inline-block;
    margin-left: 5em;
    color:red;

}

.tick {
    background: red;
    padding-top: 2px;
    margin-bottom: 19em;
}

.tickText {
    font-size: 10px;
    
}

.rightSideBar {
    position: fixed;
    margin-left: 80vw;
    margin-top: 10vh;
}

.rightSideBar h2 {
    font-family: 'Inter', sans-serif;

    font-size: 1rem;
    letter-spacing: -1px;
}

.rightSideBar a:visited {
    text-decoration: none;
    color: black;
}

.rightSideBar a {
    text-decoration: none;
    color: black; 
}

.rightSideBar a:hover {
    text-decoration: underline;
    color: red; 
}

/* Misc Styling */

.inParagraphLink {
    transition: all 0.5s ease;
}

.inParagraphLink:hover {
    background: white;
    color: black;
    padding: .2em;
}

.recentlyClickedLatLong {
    border: 6px solid red; 
}

.recentlyClickedID {
    border: 6px solid red; 
}

.recentlyClickedID img, .recentlyClickedID p {
    filter: blur(0px) !important;
}

.activeMap {
    filter: none !important;
}

#mapid {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 750px; 
    height: 900px; 
    z-index: -1; 

    background-color: black;
}

.inParagraphLink:visited {
    color: red;
}


/* #baseAnimation {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: fixed;

    filter: blur(10px);
} */


/* Coordinate Blurring */

#coords1 { filter:blur(0.25px); }
#coords2 { filter:blur(1px); }
#coords3 { filter:blur(1.5px); }
#coords4 { filter:blur(2px); }
#coords5 { filter:blur(2.5px); }
#coords6 { filter:blur(3px); }
#coords7 { filter:blur(3.5px); }
#coords8 { filter:blur(4px); }
#coords9 { filter:blur(4.5px); }
#coords10 { filter:blur(5px); }
#coords11 { filter:blur(5.5px); }
#coords12 { filter:blur(6px); }
#coords13 { filter:blur(6.5px); }
#coords14 { filter:blur(7px); }

/* image styling */


.baseImg {
    width: 100%;
    height: auto;

    margin-bottom: 2vh;
}


.imgMeta {
    font-weight: 300;
    color: #ffffff;
    font-size: 10px !important;

    line-height: 1.2em;

    text-transform: uppercase;
    text-align: right;

    margin-left: 6vw;
    margin-bottom: 2vh;
    width: 50%;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14{
    margin-right: 25px;
    margin-bottom: 10px;
}

.p1 img, .p1 p {
    filter: blur(1px);
}

.p2 img, .p2 p, .p3 img, .p3 p, .p4 img, .p4 p {
    filter: blur(2px);
}

.p5 img, .p5 p, .p6 img, .p6 p, .p7 img, .p7 p {
    filter: blur(4px);
}

.p8 img, .p8 p, .p9 img, .p9 p, .p10 img, .p10 p {
    filter: blur(8px);
}

.p11 img, .p11 p, .p12 img, .p12 p, .p13 img, .p13 p, .p14 img, .p14 p{
    filter: blur(14px);
}

a.titleLink {
    filter: blur(0px) !important;
}

#blackBar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background-color: black;
}

#mute {
    margin-bottom: 2vh;
    background: transparent;
    color: red;


    font-size: 10px;
    font-weight: 700;
    padding: 10px;
    border: 2px solid red;

}

#mute:hover {
    background: white;
    color: red;
    transition: all 0.5s ease;
}


/* make these guys more and more blurry as it goes on */
